name: EAS Build Deploy

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Clonar repositório
        uses: actions/checkout@v3

      - name: Instalar dependências
        run: npm install

      - name: Rodar build com EAS
        run: eas build --platform android --non-interactive
        env:
          EXPO_TOKEN: ${{ secrets.AUTONOMO_APP }}
